.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #0066cc;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    border: red;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    border: dashed 10px green;
    box-shadow: -100px -100px 50px red;
}
.Abramov{
    width: 200px;
    border-radius: 20%;
    display: flex;
    border: 100px;
    box-shadow: red;

}